<div class="container">
  <div class="row">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active" >
      <%= link_to "Tweets", admin_root_path%>
    </li>
    <li role="presentation"  >
      <%= link_to "User", admin_users_path%>
    </li>
  </div>
</div>

<br>


<div class="container">
  <div class="row">


  <% @tweets.each do |tweet|%>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class ="admin-tweeter">
      <div class="panel-heading ">
        <h3 class="panel-title">
          <div class="admin-tweet">
            <%= link_to tweets_user_path(tweet.user) do%>
            <% for id in 0..20 %>
              <% if image_path(tweet.user.avatar).include?('/'+ 'user'+id.to_s+'.jpg') %>
                <%= image_tag('/avatar/'+'user'+id.to_s+'.jpg', height: 40, width: 40) %>
              <% end %>
            <%end%>
              <%= tweet.user.name%>
            <% end %>
          </div>
          <div class="admin-tweet">
            <%= tweet.description%>
            <%= render partial: "shared/like", locals: {tweet: tweet}%>
            <%if tweet.is_liked?(current_user)%>
              <div class="like-color">
                (<%= tweet.likes.count%>)
              </div>
            <%else%>
                (<%= tweet.likes.count%>)
            <%end%>
          </div>
          <div class="admin-delete">
            <%= link_to "X", admin_tweet_path(tweet), method: :delete, data: {confirm:"Are you sure?"}%></span>
          </div>
        </h3>
      </div>
    </div>

      <div class="panel-heading ">

        <h3 class="panel-title">
          <div class="reply-color">
            <%= link_to "Reply",tweet_replies_path(tweet), class:"reply-color"%>
            (<%= tweet.replies.count%>)
          </div>
        </h3>

      </div>
      <% tweet.replies.each do |reply|%>
      <div class="panel-body">
        <div class="admin-tweet">
          <% for id in 0..20 %>
            <% if image_path(reply.user.avatar).include?('/'+ 'user'+id.to_s+'.jpg') %>
              <%= image_tag('/avatar/'+'user'+id.to_s+'.jpg', height: 40, width: 40) %>
            <% end %>
          <%end%>

          <%= link_to reply.user.name, tweets_user_path(reply.user)%>
        </div>
        <div class="admin-tweet">
        <%= reply.comment%>
        </div>
      </div>
      <%end %>
    </div>
  </div>
  <%end%>



<div class="text-center">
  <%= paginate @tweets %>
</div>
</div>
</div>
