<div class="container">
  <div class="row">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active" >
      <%= link_to "Tweets", admin_root_path%>
    </li>
    <li role="presentation"  >
      <%= link_to "User", admin_users_path%>
    </li>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <table class="table table-hover">
      <% @tweets.each do |tweet|%>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description<%= render partial: "shared/like", locals: {tweet: tweet}%></th>
            <th>
              <%= link_to "Reply (#{tweet.replies.count})",tweet_replies_path(tweet), class:"reply-color"%>
            </th>
            <th>Option</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= link_to tweets_user_path(tweet.user) do%>
                <%= tweet.user.name%>
              <% end %>
            </td>
            <td class="">
              <%= tweet.description%>

            </td>
            <td class="admin-reply">
              <% tweet.replies.each do |reply|%>

                  <h4><%= link_to reply.user.name, tweets_user_path(reply.user)%>:</h4>
                   <%= reply.comment%>
                <br>
              <%end %>
            </td>
            <td>
              <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, admin_tweet_path(tweet), method: :delete, data: {confirm:"Are you sure?"}%>
            </td>
          </tr>
        </tbody>
      <%end%>
    </table>
    <div class="text-center">
      <%= paginate @tweets %>
    </div>
  </div>
</div>
