  <div class="container">
    <div class="row">
      <div class="col-xs-11 col-md-7">
        <%= form_for [@tweet] do |f| %>
          <div class="form-group">
            <%= f.text_area :description, placeholder: "留個言吧", class: "form-control"%>
          </div>
          <div class="form-group">
            <%= f.submit"Tweet", class:" btn btn-primary"%>
            <%= f.button "Cancel", type: :reset, class:"btn btn-default"%>
          </div>
        <% end %>
        <% @tweets.each do |tweet|%>
        <div class="panel panel-default">
          <div class="panel-body">

            <%= image_tag tweet.user.avatar, height: 100, width: 100%>
            <h3><%= link_to tweet.user.name, tweets_user_path(tweet.user)%></h3>
            <p><%= tweet.description%></p>
            <%= link_to "Reply",tweet_replies_path(tweet)%>
            <%= tweet.replies.count%>
            <%= render partial: "shared/like", locals: {tweet: tweet}%>
            <%= tweet.likes.count%>
          </div>

        </div>
        <%end%>
      </div>
      <div class="col-xs-7 col-md-5">
        <h2>Popular</h2>
        <% @users.each do |user|%>
        <div class="panel panel-default">
          <div class="panel-body">
            <%= image_tag user.avatar, height: 100, width: 100%>
            <%= link_to user.name, users_path(user)%>
            <p><%= truncate(user.introduction, length: 80) %></p>
            <%if current_user.is_following?(user)%>
              <%= link_to 'Unfollow', followship_path(user), method: :delete, class:"btn btn-link"%>
            <%else%>
              <%= link_to 'Follow',followships_path(following_id: user), method: :post, class:"btn btn-default" %>
            <% end %>
          </div>
        </div>
        <%end%>

        </ul>
      </div>
    </div>
  </div>
