  <div class="container">
    <div class="row">
      <div class="col-xs-11 col-md-7">
        <%= form_for @tweet, {remote: true} do |f| %>
          <div class="form-group ">
            <div class="text-field">
            <%= f.text_area :description, placeholder: "What's on your mind?", class: "form-control",rows:"7"%>
            </div>
          </div>
          <div class="form-group">
            <div class="btn-right">
            <%= f.submit"Tweet", class:" btn"%>
            </div>
          </div>
        <% end %>
          <div id="tweetlist">
          <% @tweets.each do |tweet|%>

          <%= render partial: "shared/tweet", locals: {tweet: tweet}%>

          <%end%>
          </div>


      </div>
      <div class="col-xs-7 col-md-5">
        <h2>Popular</h2>
        <% @users.each do |user|%>
        <div class="panel panel-default">
          <div class="panel-body">
            <%= link_to tweets_user_path(user) do%>
            <div class="col-xs-4 col-md-4">
              <% for id in 0..20 %>
                <% if image_path(user.avatar).include?('/'+ 'user'+id.to_s+'.jpg') %>
                  <%= image_tag('/avatar/'+'user'+id.to_s+'.jpg', height: 100, width: 100) %>
                <% end %>
              <%end%>
            </div>
            <%= user.name%>
            <% end %>

            <p><%= truncate(user.introduction, length: 50) %></p>
            <%if user != current_user%>
              <%= render partial: "shared/follow", locals: {user: user}%>
            <%end%>
          </div>
        </div>
        <%end%>

        </ul>
      </div>
    </div>
  </div>
