<div class="container">
  <div class="row">
    <%= render partial: "shared/user"%>
    <div class="col-xs-12 col-md-8">
      <h2>Like</h2>
      <% @likes.each do |like|%>

          <div class="panel panel-default">
            <div class="panel-body">
              <div class="col-xs-4 col-md-3">
              <%= image_tag like.user.avatar, height: 100, width: 100%>
              </div>
              <h4><%= link_to like.user.name, tweets_user_path(like.user)%>, <%= like.created_at.to_date %>, <%= like.created_at.strftime("%I:%M%p") %></h4>
              <p><%= like.description %></p>
              <div class="reply-color">
                <%= link_to "Reply",tweet_replies_path(like), class:"reply-color"%>
                (<%= like.replies.count%>)
              </div>
              <div class="like-color">
              <%if like.is_liked?(current_user)%>
                <%= link_to "Unlike", unlike_tweet_path(like), method: :post, class:"like-color"%>
              <%else%>
                <%= link_to "Like", like_tweet_path(like), method: :post, class:"like-color"%>
              <%end%>
              (<%= like.liked_users.count%>)
              </div>
            </div>
          </div>

        <%end%>
    </div>
  </div>
</div>
