<div class="container">
  <div class="row">
    <%= render partial: "shared/user"%>
    <div class="col-xs-12 col-md-8">
      <h2>Like</h2>
      <% @likes.each do |like|%>

          <div class="panel panel-default">
            <div class="panel-body">
              <div class="col-xs-4 col-md-3">
                <% for id in 0..20 %>
                  <% if image_path(like.user.avatar).include?('/'+ 'user'+id.to_s+'.jpg') %>
                    <%= image_tag('/avatar/'+'user'+id.to_s+'.jpg', height: 100, width: 100) %>
                  <% end %>
                <%end%>
              </div>
              <h4><%= link_to like.user.name, tweets_user_path(like.user)%>, <%= like.created_at.to_date %>, <%= like.created_at.strftime("%I:%M%p") %></h4>
              <p><%= like.description %></p>
              <div class="reply-color">
                <%= link_to "Reply",tweet_replies_path(like), class:"reply-color"%>
                (<%= like.replies.count%>)
              </div>

              <%if like.is_liked?(current_user)%>
                <div class="like-color">
                  <%= link_to "Like", unlike_tweet_path(like), method: :post, class:"like-color"%>
                  (<%= like.liked_users.count%>)
                </div>
              <%else%>
                <%= link_to "Like", like_tweet_path(like), method: :post%>
                (<%= like.liked_users.count%>)
              <%end%>

            </div>
          </div>

        <%end%>
    </div>
  </div>
</div>
