

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-4 col-md-3">
        <% for id in 0..20 %>
          <% if image_path(tweet.user.avatar).include?('/'+ 'user'+id.to_s+'.jpg') %>
            <%= image_tag('/avatar/'+'user'+id.to_s+'.jpg', height: 100, width: 100) %>
          <% end %>
        <%end%>
      </div>
      <h4><%= link_to tweet.user.name, tweets_user_path(tweet.user)%>, <%= tweet.created_at.to_date %>, <%= tweet.created_at.strftime("%I:%M%p") %></h4>
      <p><%= tweet.description%></p>
      <%= link_to "Reply(#{tweet.replies.count})",tweet_replies_path(tweet), class:"reply-color inline"%>
      <%= render partial: "shared/like", locals: {tweet: tweet} %>
    </div>

  </div>
