<div class="col-xs-5 col-md-3">
  <% for id in 0..20 %>
    <% if image_path(@user.avatar).include?('/'+ 'user'+id.to_s+'.jpg') %>
      <%= image_tag('/avatar/'+'user'+id.to_s+'.jpg', height: 200, width: 200) %>
    <% end %>
  <%end%>
  
  <h2><%= @user.name%></h2>
  <div class="user-page">

    <p><%= @user.introduction%></p>

    <h4><%= link_to 'Tweets', tweets_user_path(@user)%> <%= @user.tweets.count%></h4>
    <h4><%= link_to 'Followings', followings_user_path(@user)%> <%= @user.followings.count%></h4>

    <h4><%= link_to 'Followers', followers_user_path(@user)%> <%= @user.followers.count%></h4>

    <h4><%= link_to 'Likes', likes_user_path(@user)%> <%= @user.likes.count%></h4>

    <% if @user.email == current_user.email %>
      <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary"%>
    <%else%>
      <%= render partial: "shared/follow", locals: {user: @user}%>
    <% end %>

  </div>
</div>
