<div class="container">
  <div class="row">
  <ul class="nav nav-tabs">
    <li role="presentation"  >
      <%= link_to "Tweets", admin_root_path%>
    </li>
    <li role="presentation" class="active" >
      <%= link_to "User", admin_users_path%>
    </li>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Photo</th>
          <th>Introduction</th>
          <th>Tweets</th>
          <th>Followings</th>
          <th>Followers</th>
          <th>Likes</th>
        </tr>
      </thead>
      <% @users.each do |user|%>
        <tbody>
          <tr>
            <td>
              <%= link_to users_path(user) do%>
                <%= user.name%>
              <% end %>
            </td>
            <td>
              <% for id in 0..20 %>
                <% if image_path(user.avatar).include?('/'+ 'user'+id.to_s+'.jpg') %>
                  <%= image_tag('/avatar/'+'user'+id.to_s+'.jpg',width:40 , height:50)%>
                <% end %>
              <%end%>
            </td>
            <td>
              <%= truncate(user.introduction, length: 150) %>
            </td>
            <td>
              <%= link_to "#{user.tweets.count}", tweets_user_path(user)%>
            </td>
            <td>
              <%= link_to "#{user.followings.count}", followings_user_path(user)%>
            </td>
            <td>
              <%= link_to "#{user.followers.count}", followers_user_path(user)%>
            </td>
            <td>
              <%= link_to "#{user.likes.count}", likes_user_path(user)%>
            </td>
          </tr>
        </tbody>
      <%end%>
    </table>
    <div class="text-center">
      <%= paginate @users %>
    </div>


  </div>
</div>
